* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    background-color: rgb(64, 32, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#head {
    margin-top: 300px;
}
#mainLogo {
    color: white;
    font-size: 100px;
}
#menu {
    display: flex;
}
.inButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.616);
    width: 200px;
    height: 150px;
}
.name {
    color: white;
    font-size: 20px;
}
.description {
    color: rgb(182, 182, 182);
}